# Data Structures - just a quick view…
We can see both main structures: Series & Data Frame.
Check out these fundamental data structures in Pandas…  

To get started, import NumPy and load Pandas into your namespace:

In [1]:
import pandas as pd
import numpy as np

### Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index. The basic method to create a Series is to call:

If we want more details, we can check out : https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html#pandas.Series

In [2]:
# data what is it? what types?
# Python dict
# ndarray
# scalar value

#### Data Type - Python dictionary

In [3]:
data = {'A': 34, 'B': 65.87, 'C': 87, 'D': 71.10}
s = pd.Series(data)
print(s)
print('*****************')
# We can sort out this index like this:

s = pd.Series(data, index = ['B', 'D', 'A', 'C'])
print(s)

A    34.00
B    65.87
C    87.00
D    71.10
dtype: float64
*****************
B    65.87
D    71.10
A    34.00
C    87.00
dtype: float64

#### Data Type - Python ndarray

In [4]:
# Important! We must have the same length for index and data…
s = pd.Series(np.random.randn(4), index=['A', 'B', 'C', 'D'])
s

A   -0.657264
B    0.346118
C   -0.237893
D    0.271167
dtype: float64

In [5]:
# Otherwise without index:
s = pd.Series(np.random.randn(4))
s

0    1.846628
1   -0.822215
2   -0.000481
3   -0.851538
dtype: float64

#### Data Type - Python scalar value

In [6]:
import math as m
s = pd.Series(m.pi)
s

0    3.141593
dtype: float64

In [7]:
# With Index, it's possible. This value will be repeated to match the length of index.
s = pd.Series(m.pi, index=['A', 'B', 'C', 'D'])
s

A    3.141593
B    3.141593
C    3.141593
D    3.141593
dtype: float64

In [8]:
# Scalar value can be string, int, float, etc…
s = pd.Series("I mustn't copy on my colleague", index=['A', 'B', 'C', 'D'])
s

A    I mustn't copy on my colleague
B    I mustn't copy on my colleague
C    I mustn't copy on my colleague
D    I mustn't copy on my colleague
dtype: object

### DataFrame
DF is a 2-dimensional labeled data structure with columns of potentially different types. It's generally the most commonly used pandas object.

In [9]:
# mydata what is it? what types?
# Python Dict of 1D ndarrays, lists, dicts, or Series
# 2-D numpy.ndarray
# Structured or record ndarray
# Series
# Another DataFrame

#### Data Type - Series

In [10]:
mydata = pd.Series(np.linspace(0, 10, 15))
df = pd.DataFrame(mydata)
df

            0
0    0.000000
1    0.714286
2    1.428571
3    2.142857
4    2.857143
5    3.571429
6    4.285714
7    5.000000
8    5.714286
9    6.428571
10   7.142857
11   7.857143
12   8.571429
13   9.285714
14  10.000000

#### Data Type - Dictionary of Series

In [11]:
mydata = {
    "Series 1" : pd.Series([23, 34, 87, -35]),
    "Series 2" : pd.Series([-23, -34, -87, 35])}

df = pd.DataFrame(mydata)
df

   Series 1  Series 2
0        23       -23
1        34       -34
2        87       -87
3       -35        35

#### Data Type - Dictionary of ndarrays / lists

In [12]:
mydata = {
    'list1' : [1.3, 1.4, 1.9, 1.8, 1.5],
    'list2' : [2.5, 2.8, 2.1, 2.2, 2.7],
    'list3' : [3.3, 3.6, 3.9, 3.2, 3.9]}

df = pd.DataFrame(mydata)
df

   list1  list2  list3
0    1.3    2.5    3.3
1    1.4    2.8    3.6
2    1.9    2.1    3.9
3    1.8    2.2    3.2
4    1.5    2.7    3.9

#### Data Type - Dictionary of Tuples

In [13]:
mydata = {
    ('X', 'Y'): {('x1', 'y1'): 635, ('x2', 'y2'): 863},
    ('Z', 'W'): {('z1', 'w1'): 232, ('z2', 'w2'): 536}}

df = pd.DataFrame(mydata)
df

           X      Z
           Y      W
x1 y1  635.0    NaN
x2 y2  863.0    NaN
z1 w1    NaN  232.0
z2 w2    NaN  536.0

#### Data Type - DF

In [14]:
df1 = pd.DataFrame(np.random.randn(6, 11))
df2 = pd.DataFrame(np.ones((6,11)))
mydata = df1 + df2

df = pd.DataFrame(mydata)
df

,0,1,2,3,4,5,6,7,8,9,10
0,2.101323,0.610984,-0.477191,-0.182874,0.390301,1.285563,0.308298,3.020828,0.100233,1.237471,-0.009396
1,1.547770,0.146772,0.803363,1.929486,1.215845,-0.229003,0.567743,0.261374,0.723223,2.040749,-0.377977
2,2.381871,0.709600,0.941984,2.998033,1.531994,0.968823,2.078014,1.384921,1.906296,0.883294,1.720326
3,1.604256,2.455723,1.043167,1.954529,1.953163,0.261678,0.689076,-0.123313,0.583488,1.945945,1.225785
4,1.102729,1.606578,0.739930,1.451351,-0.009504,0.807432,0.850076,2.552419,0.905570,0.701972,-0.256693
5,1.503655,0.016713,2.354842,1.779966,3.527988,-0.103398,1.861261,1.616228,1.803759,1.562572,2.961358